h1 {
    text-align: center;
    padding-top: 100px;
    background-color: #0099ff;
    color: white;
    padding-bottom: 10px;
}

svg {
    margin-top: -25px;
}

.container {
	width: 1000px;
	background-color: white;
	margin: auto;
	padding: 15px;
	height: 500px;
	
}

.right {
    text-align: right;
}

.rightp {
    text-align: right;
}

@media screen and (max-width: 1024px) {
    h1 {
        background-color: red;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        background-color: purple;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        background-color: orange;
    }
}